body {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.row div {
  height: 2px;
  width: 2px;
}
.row .active {
  background: transparent;
}
.row .inactive {
  background: black;
}
